h1 {
    color: rgb(4, 0, 255);
};

h2 {
    color: rgba(91, 111, 199, 0.705);
};

table {
    border-spacing: 55px 0;
};

center {
    text-align: center;
};

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
};

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
};

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
};